@model IEnumerable<Dictionary<SamochodElektryczny.Models.Place, SamochodElektryczny.Models.DistancePlace>>
@{
    ViewBag.Title = "CalculateDistances";
}

<h2>CalculateDistances</h2>
<text id="summary"></text>

<script type="text/javascript">

    function findPath(lat, lng, lat2, lng2, map) {
        var marker1 = new google.maps.Marker({
            position: new google.maps.LatLng(lat, lng),
            map: map
        });

        var marker2 = new google.maps.Marker({
            position: new google.maps.LatLng(lat2, lng2),
            map: map
        });

        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        directionsDisplay.setMap(map);

        var summaryPanel = document.getElementById('summary');

        var flightPlanCoordinates = [
      { lat: lat, lng: lng },
      { lat: lat2, lng: lng2 }
        ];
        var flightPath = new google.maps.Polyline({
            path: flightPlanCoordinates,
            geodesic: true,
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 2
        });

        flightPath.setMap(map);

        directionsService.route({
            origin: marker1.position,
            destination: marker2.position,
            travelMode: 'DRIVING'
        }, function (response, status) {
            if (status === 'OK') {
                var route = response.routes[0];
                summaryPanel.innerHTML += '(' + lat + ', ' + lng + ')' + '(' + lat2 + ',' + lng2 + ') dlugosc: ' + route.legs[0].distance.text + '<br />';
                directionsDisplay.setDirections(response)
            } else if (status === "OVER_QUERY_LIMIT") {
                setTimeout(findPath(lat, lng, lat2, lng2, map), 1000);
            }
            else {
                window.alert('directions request failed due to ' + status);
            }
        });
    }


    function initMap() {
        var katowice = { lat: 50.270908, lng: 19.039993 };
        var map = new google.maps.Map(document.getElementById('map'), {
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            zoom: 8,
            center: katowice
        });
        var summaryPanel = document.getElementById('summary');


        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        directionsDisplay.setMap(map);

        @foreach(var place in ViewBag.DistancesToPlaces)
            {
                foreach(SamochodElektryczny.Models.DistancePlace distancePlace in @place.Value)
                {
                    
                    <text>summaryPanel.innerHTML += @place.Key.Name + ' -> ' + @distancePlace.place.Name + '   =    ' + @distancePlace.distance;</text>
                }
        }
    }
</script>

@foreach (var place in ViewBag.DistancesToPlaces)
{
    foreach (SamochodElektryczny.Models.DistancePlace distancePlace in @place.Value)
    {

        <div>@place.Key.Name -> @distancePlace.place.Name    =     @distancePlace.distance</div>
    }
}